@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Poppins", sans-serif;
  --breakpoint-3xl: 1920px;
  --color-primary: #1368EC;
}

@layer base {
  html {
    font-family: var(--font-display);
  }

  body {
    background-color: #fcfbfc;
    overflow-x: hidden;
  }
}


.btn-primary{
  @apply w-full text-sm font-medium text-white bg-primary shadow-lg shadow-purple-600/5 p-[10px] rounded-md my-1 hover:bg-blue-600/15 hover:text-blue-600 cursor-pointer;
}

.card {
  @apply bg-white p-6 rounded-2xl shadow-md shadow-gray-100 border border-gray-200/50;
}

.card-btn{
  @apply flex items-center gap-3 text-[12px] font-medium text-gray-700 hover:text-primary bg-gray-50 hover:bg-blue-50 px-4 py-1.5 rounded-lg border border-gray-200/50 cursor-pointer; 
}

.input-box{
  @apply bg-white px-4 py-3 rounded-lg border border-gray-200 shadow-sm flex items-center gap-2 focus-within:border-primary;
}

.form-input {
  @apply w-full text-sm text-black outline-none bg-transparent placeholder:text-gray-400;
}


.card-btn-fill{
  @apply flex items-center gap-3 text-[12px] font-medium text-white hover:text-primary bg-primary hover:bg-blue-50 px-4 py-1.5 rounded-lg border border-primary cursor-pointer;
}
.add-btn{
  @apply w-full flex items-center justify-center gap-1.5 text-xs md:text-xs font-medium text-primary whitespace-nowrap bg-blue-50 border border-blue-100 rounded-lg px-4 py-2 cursor-pointer;
}

.download-btn {
  @apply flex items-center gap-3 text-xs md:text-[13px] text-lime-900 bg-lime-100 px-2 md:px-3 py-2 rounded border border-lime-200 hover:border-lime-100 cursor-pointer;
}

.form-card{
  @apply bg-white p-4 rounded-xl shadow-md shadow-gray-100 border border-gray-200/50;
}
.loginbtn{
  @apply mt-5;
}